.navbar {
  background-color: var(--dark-blue);
  height: auto;
  color: white;
  padding: 16px 64px;
}

.navbar svg {
  fill: white;
  margin-right: 4px;
}

.info-bar {
  font-size: 12px;
}

.info-bar ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.info-bar ul a {
  margin-left: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-options {
  margin-top: 16px;
  display: grid;
  grid-template-columns: 0.5fr 3fr 0.75fr;
  gap: 8px;
}

.right-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  align-items: center;
  justify-items: end;
}

.location-dropdown {
  text-align: center;
  position: relative;
  cursor: pointer;
  font-weight: 800;
}

.location-dropdown svg {
  stroke: white;
  stroke-width: 5px;
  margin-left: 4px;
}
.location-name {
  font-weight: 800;
  font-size: 32px;
}

.search-box {
  margin-top: 8px;
  background-color: white;
  border-radius: 10px;
  height: 40px;
  display: grid;
  grid-template-columns: 40px 1fr;
  max-width: 700px;
  align-items: center;
}

.search-box svg {
  fill: var(--gray);
  width: 20px;
  margin: 0 auto;
}
.search-box input {
  outline: none;
  border: none;
  border-radius: 10px;
}
