.navbar {
  background-color: var(--dark-blue);
  height: auto;
  color: white;
  padding: 8px 64px 24px 16px;
}

.navbar svg {
  fill: white;
  margin-right: 4px;
}

.info-bar {
  font-size: 12px;
}

.info-bar ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.info-bar ul a {
  margin-left: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-options {
  margin-top: 16px;
  display: grid;
  grid-template-columns: 0.5fr 3fr 0.75fr;
  gap: 8px;
}

.right-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  align-items: center;
  justify-items: end;
}

.cart-icon {
  position: relative;
}

.cart-icon:hover .popup-box {
  display: block;
}

.location-dropdown {
  margin: 0 auto;
  text-align: center;
  position: relative;
  cursor: pointer;
  font-weight: 800;
  max-width: 300px;
  text-align: center;
}

.location-dropdown svg {
  stroke: white;
  stroke-width: 5px;
  margin-left: 4px;
  position: relative;
}

.address-input,
.current-location {
  display: grid;
  grid-template-columns: 20px 1fr;
  justify-items: baseline;
  gap: 8px;
}

.current-location {
  color: #005eab;
  margin-top: 8px;
  font-weight: 400;
}

.current-location svg {
  fill: #005eab;
  width: 15px;
  stroke-width: 0;
}
.address-input svg {
  fill: var(--gray);
  width: 15px;
  stroke-width: 0;
}

.address-input input {
  border: none;
  outline: none;
  width: 100%;
}

.location-dropdown:hover .popup-box {
  display: block;
}
.location-name {
  font-weight: 800;
  font-size: 32px;
}

.search-box {
  margin-top: 8px;
  background-color: white;
  border-radius: 50px;
  height: 40px;
  display: grid;
  grid-template-columns: 40px 1fr;
  max-width: 700px;
  align-items: center;
}

.search-box svg {
  fill: var(--gray);
  width: 20px;
  margin: 0 auto;
}
.search-box input {
  outline: none;
  border: none;
  border-radius: 50px;
}

.categories-btn {
  position: relative;
}

.categories-btn:hover .popup-box {
  display: block;
}

.categories-btn .popup-box-content svg {
  fill: var(--dark-gray);
  width: 10px;
}

.popup-box-content-link {
  display: grid;
  grid-template-columns: 1fr 20px;
}

@media screen and (max-width: 1200px) {
  .right-buttons {
    grid-template-columns: 1fr 1fr 3fr;
  }
}

@media screen and (max-width: 900px) {
  .navbar-options {
    grid-template-columns: 0.5fr 1fr 1fr;
  }
}

@media screen and (max-width: 500px) {
  .navbar {
    padding: 16px;
  }
  .info-bar {
    display: none;
  }

  .navbar-options {
    display: grid;
    grid-template-columns: unset;
    align-items: center;
    justify-content: center;
  }
}
